node_modules
dist
seed
tmp
.nx
.vscode
.git
.github
extensions
apps/functions
apps/storefront/Dockerfile
apps/api/Dockerfile
apps/scripts
firestore\*
docker-compose.yml
.dockerignore
.firebaserc
firebase.jsondocker
README.md
LICENSE
