rules_version = '2';

service cloud.firestore {
  function userIsAdmin() {
    return ("admin" in request.auth.token) && request.auth.token.admin == true;
  }
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
    match /articles/{docId=**} {
      allow read: if true;
      allow write: if userIsAdmin();
    }
    match /fabrics/{docId=**} {
      allow read: if true;
      allow write: if userIsAdmin();
    }
    match /fabricGroups/{docId=**} {
      allow read: if true;
      allow write: if userIsAdmin();
    }
    match /carts/{docId=**} {
      allow read: if request.auth.uid == request.resource.data.userId;
      allow write: if false;
    }
  }
}