rules_version = '2';

// Careful, everyting in the app bucket is in the CDN, 
// concider removing cache control when for sensitive data 

service firebase.storage {
  function userIsAdmin() {
    return ("admin" in request.auth.token) && request.auth.token.admin == true;
  }
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;
    }
    match /uploaded/{path=**} {
      allow read: if true;
      allow write: if true;
    }
    match /carts/{path=**} {
      allow read: if true;
      allow write: if false;
    }
    match /articles/{path=**} {
      allow read: if true;
      allow write: if false;
    }
    match /fabrics/{path=**} {
      allow read: if true;
      allow write: if false;
    }
    match /pipings/{path=**} {
      allow read: if true;
      allow write: if false;
    }
    match /orders/{path=**} {
      allow read: if true;
      allow write: if false;
    }
    // Made public directly from storage
    match /cms/{path=**} {
      allow read: if true;
      allow write: if false;
    }
    // Made public directly from storage
    match /cdn/{path=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
